<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <script type="text/javascript" src="../static/js/jquery-2.0.min.js" th:src="@{/js/jquery-2.0.min.js}"></script>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

<script type="text/javascript">
    $(function () {

    });
</script>
</body>
</html>